{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../styles/jobs.css">
{% endblock %}

{% block title %}Search Jobs{% endblock %}

{% block search_active %}active{% endblock %}


{% block content %}
<div class="row justify-content-around">
    <div class="col-12">
        <h1 class="display-4 text-center">Jobs</h1>
    </div>
    {% for job in jobs %}
    <div class="col-12 col-lg-4 my-3">
        <div class="card bg-dark text-light">
            <div class="card-header bg-secondary">
                <div class="row justify-content-between">
                    <div class="col-9 d-flex justify-content-start ms-0 p-0">
                        {{job['title']}}
                    </div>
                    <div class="col-3 d-flex justify-content-end me-0 p-0">
                        <button class="btn btn-sm btn-primary">Save Job</button>
                    </div>
                </div>
            </div>
            <div class="card-body scroll">
                <h5 class="card-title">{{job['company']}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{job['location']}} </h6>
                {% for description_text in job['description'] %}
                <p class="card-text">{{description_text}}</p>
                {% endfor %}
            </div>
            <div class="card-footer text-center bg-secondary">
                <a href="{{job['link']}}" class="btn btn-outline-light btn-sm" target="_blank">Go to Page!</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}