{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../styles/jobs.css">
{% endblock %}

{% block title %}Search Jobs{% endblock %}

{% block search_active %}active{% endblock %}


{% block content %}
<div class="row justify-content-around">
    <div class="col-12">
        <h1 class="display-4 text-center">Jobs</h1>
    </div>
    {% for job in jobs %}
    <div class="col-6 col-md-4 scroll my-3">
        <div class="card bg-dark text-light">
            <div class="card-header bg-secondary">
                <div class="row justify-content-around">
                    <div class="col-8">{{job['title']}}</div>
                    <div class="col-4">
                        <button class="btn btn-sm btn-primary">Save Job</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{job['company']}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{job['location']}} </h6>
                <p class="card-text"> {{job['description']}} </p>
            </div>
            <div class="card-footer text-center">
                <a href="{{job['link']}}" class="btn btn-outline-light btn-sm" target="_blank">Go to Page!</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}