body {
  background-image: url('../img/repeated-square-dark.png');
}

.nav-item.active {
  color: rgb(255, 255, 255);
  background-color: #5e61645b;
}

.main-content {
  height: 100vh;
  background-image: url('../img/criss-cross.png');
}

#password-toggle {
  width: 3rem;
}