body {
  background-image: url('../img/criss-cross.png');
}

.nav-item.active {
  color: rgb(255, 255, 255);
  background-color: #5e61645b;
}

.main-content {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  height: 100vh;
  /* border-radius: 0.5rem; */
  background-image: url('../img/repeated-square-dark.png');
}

#password-toggle {
  width: 3rem;
}